body {
  background-color: #7C9070;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #FEE8B0;
}

h1 {
  color: #FF7C5E;
  padding-top: .5em;
}

h2, h3 {
  color: #7C9070;
}

.recipeimg {
  a {
    text-decoration: none;
    color: #FF7C5E;
  }
  p {
    color: #7C9070;
  }
  padding-left: 1em;
}