body {
  flex-grow: 1;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  color: #FF7C5E;
  background-color: #7C9070;
  display: flex;
  justify-content: center;
  padding: 2em;
}

h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #FF7C5E;
}