body {
  flex-grow: 1;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  background-color: $yellow;
}

h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #FF7C5E;
}