.form {
  @include flex-center(column);
  width: 400px;
  max-width: 100%;
  margin: 2rem auto;

  input, textarea {
    @extend .form-input;
  }
  
  button {
    margin-top: 1rem;
  }
}

.danger{
  color: red;
  width: 50%;
}

.registerbtn{
  background-color: #FF7C5E;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-size: 20px;
  color: white;
  border:none;
}

.registerbtn:hover {
  background-color: darkblue; /* Change color on hover */
}

.registerbtn:active {
  transform: translate(1px, 1px); /* Move button 2px down on click */
}

p {
  display: flex;
  justify-content: center;
}

.register-link {
  color: #FF7C5E;
  font-weight: bold;
}

p {
  a, span {
    text-decoration: none;
  }
}

.textlogin {
  width: 50%;
  margin-bottom: 80px;
  margin-top: 50px;
  align-items: center;
}

.login {
  padding-left: 0;
}