.form-input {
  height: 50px;
  width: 300px;
  font-size: 20px;
  background-color: #FEE8B0;
  border-radius: 5px;
  border: none
}

.danger{
  color: red;
  width: 50%;
}

// Register and login button formatting and behaviours
.reg-login-btn {
  @include button;
  font-size: 20px;
  height: 50px;
  width: 150px;
}

.reg-login-btn:hover {
  background-color: #9CA777; /* Change color on hover */
  color: #FEE8B0;
}

.reg-login-btn:active {
  transform: translate(1px, 1px); /* Move button 2px down on click */
}

.reg-login-link:hover {
  background-color: #9CA777; /* Change color on hover */
  color: #FEE8B0;
}

p {
  a, span {
    text-decoration: none;
    color: $orange;
    font-weight: bold;
  }
}