.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 35px 0px;
  text-align: center;

  .links{
    text-decoration: none;
    color: $orange;
  }

  @media (max-width: 408px) {
    flex-direction: column;
  }
  
}