.logo-icon {
  width: 70px;
  padding-right: 1em;
}

.nav-toggle {
  background: none;
  border: none;
  span {
    height: 3px;
    display: block;
    width: 40px;
    background: #FF7C5E;
    margin-bottom: 8px;
  }
}

nav {
  a, span {
    color: #FF7C5E;
    text-decoration: none;
    cursor: pointer;
  }
  flex-grow: 10;
}

.p-2.p-md-3.p-lg-4{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-grow: .4;
  align-items: center;
  padding-left: 1em;
}

// .modal-header {
//   flex-grow: 1;
//   background: #FF7C5E;

//   button {
//     position: absolute;
//     top: 2rem;
//     right: 2rem;
//   }
// }

