.logo-icon {
  width: 100px;
  // padding-right: 1em;
}

.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  span {
    height: 4px;
    display: block;
    width: 50px;
    background: #FF7C5E;
    margin-bottom: 10px;
  }
}

.modal-header {
  flex-grow: 1;
  background: #FF7C5E;
  color: #FEE8B0;
  button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #FEE8B0;
  }
  nav {
    display: flex;
    align-items: left;
    justify-content: left;
    a, span {
      color: #FEE8B0;
      text-decoration: none;
      cursor: pointer;
      font-size: 3em;
    }
  }
}

.navbar{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-color: #7C9070;
}

.link-container {
  display: flex;
  flex-direction: column;
}