.profile-title {
  @include flex(column, center, center);
  text-align: center;
}

.profile-bn-link {
  @include flex(row, center, center);
}

.edit-link {
  @include button;
  padding: 1px 4px;
  margin-right: 1px;
  background-color: $lightgreen;
  text-decoration: none;
}

.no-recipe {
  font-size: 20px;
  color: $orange;
}

.create-link {
  @include button;
  padding: 5px;
  text-decoration: none;
}