.textrecipe {
  width: 30%;
  margin: 50px auto;
  display: block;
}

.search-container {
  @include flex(row, center, space-around);
  padding: 20px;
  margin: 20px;
  background-color: $yellow;

  #dropdown, #search, #rating-dropdown {
    height: 35px;
    width: 180px;
    margin: 5px;
    background-color: $orange;
    border: none;
    padding-left: 0.5rem;
    background-color: $orange;
    color: $yellow;
    font-size: 15px;
    outline: none;
    cursor: pointer;
  }
  
  #search::placeholder {
    color: $yellow;
  }

  @media (max-width: 457px) {
      flex-direction: column;
  }
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card-layout {
    text-decoration: none;
    margin: 20px;
  
    h5 {
      font-weight: bold;
    }

    h5, p {
      color: $orange;
      font-size: 15px;
    }
  }
}




