.create-form-input {
  height: 50px;
  width: 500px;
  font-size: 20px;
  margin-top: 10px;
  color: #7C9070;
  background-color: #FEE8B0;
  border-radius: 5px;
  border: none;
  @media (max-width: 640px) {
    width: 400px;
  }
}

.createform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;

}

.textcreate {
  width: 30%;
  margin-bottom: 80px;
  margin-top: 80px;
}

.formstlying {
  background-color: #9CA777;
  padding: 50px;
  border-radius: 10px;
}

.createcategory ,
.createtitle ,
.createprepTime,
.createingredients,
.createposter,
.createdescription,
.createmethod
{
  @extend .create-form-input;
  color: #7C9070;
}

.createdescription,
.createmethod {
  height: 200px;
}

.createbtn,
.custom-file-upload {
  background-color: #FF7C5E;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-size: 20px;
  color: #FEE8B0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

.createbtn:hover {
  background-color: #FEE8B0; /* Change color on hover */
  color: #9CA777;
}

.custom-file-upload:hover{
  background-color: #FEE8B0; /* Change color on hover */
  color: #9CA777;
}

.createbtn:active {
  transform: translate(1px, 1px); /* Move button 2px down on click */
}

.preview{
  width: 250px;;
}
.dangerincreate{
  color: red;
  max-width: 500px;
}


