// Register link
.register-link {
  color: #FF7C5E;
  font-weight: bold;
}

// Styling register form
.registerform{
  @include flex-center(column)
}

.textregister{
  width: 30%;
  margin-bottom: 80px;
  margin-top: 80px;
}

.registeruser, 
.registeremail,
.registerpass,
.registerpasscon {
  @extend .form-input;
}

