// Name of recipe
h2 {
  font-size: 2.5em;
  color: #FF7C5E;
  padding: 50px 0px 0px 50px;
}

// Headings within recipe
.single-recipe-title {
  margin-bottom: 2px;
  padding-left: 50px;
  font-size: 1em;
  color: #FF7C5E;
  font-weight: bold;
}

// Image and ingredients
.single-img {
  padding: 25px 0px 25px 50px;
  height: 30em;
  @media (max-width: 700px) {
    height: 20em;
  }
}

.ing-div {
  padding-top: 25px;
  padding-left: 25px;
}

.img-ing {
  display: flex;
  @media (max-width: 992px) {
    display: block;
  }
}

.ingredient-list {
  color: #7C9070;
  padding-left: 65px;
}

// Main body of page
.method, 
.description,
.prep,
.ingredients, 
.continent {
  display: flex;
  justify-content: left;
  padding-left: 50px;
  color:#7C9070;
  margin-bottom: 8px;
  }

// View, edit, delete reviews
.review-section {
  padding: 25px 0px 25px 0px;
  background-color: #FEE8B0;
  max-height: 300px;
  overflow-y: auto;
  .review-title {
    color: #FF7C5E;
    text-align: center;
    font-size: 1.5em;
    padding-left: 0;
  }
  .review-text, li {
    color: #7C9070;
    text-align: center
  }
}

.delete-btn-container {
  @include flex-center(row);
  margin-bottom: 10px;
}

.delete-btn {
  @include button;
}

.comment {
    margin-bottom: 5px;
  }

.star-rating {
  margin-bottom: 0px;
}

// Submit review
.review-form-container {
  @include flex(row, center, space-around);
  padding: 1.5em 10em 1.5em 10em;
  color: #7C9070;
  input {
    color: #7C9070;
  }
  @media (max-width: 862px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.review-btn {
  background-color: #FF7C5E;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  font-size: 1em;
  color: white;
  border:none;
  @include flex-center(row);
  @media (max-width: 862px) {
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 1em;
  }
}

label {
  display: flex;
  align-items: center;
  @media (max-width: 862px) {
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 1em;
  }
}

textarea {
  width: 200px;
}